.footer {
    background-color: $raising-black;
    color: $white;
    height: 140px;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-bottom: 5px;

        &__item {
            display: inline-block;
            padding: 5px;
            align-content: center;
            align-items: center;
        }
    }
    &__legal-name {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-bottom: 5px;
    }
}

@media only screen and (min-width: 768px){
    .footer {
        display: flex;
        justify-content: space-between;
        height: 70px;

        &__content {
            padding-left: 30px;
            width: 300px;
            &__item {
                display: inline-block;
                padding: 5px;
            }
        }
        &__legal-name {
            padding-top: 5px;
            padding-right: 30px;   
        }
    }
    
}
